@import "../../../../constants/styles/globals";

.LogoContainer {
  width: 12em;
  height: 12em;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* keep logo container from shrinking when resizing vertically. Filters will scroll */
  flex-shrink: 0;
}

.LogoWrapper {
  width: 4em;
  height: 4em;
  border-radius: 4em;
  border: 0.2em solid $gray-180;
  justify-content: center;
  align-items: center;
  display: flex;

  img {
    width: 70%;
  }
}

.LogoHeading {
  font-weight: 900;
  color: white;
  display: inline-block;
  margin: 0.5em 0em 0em 0em;
  font-size: 1.5em;
  text-transform: uppercase;
}

.LogoSubheading {
  margin: none;
  margin: 0.1em 0em 0em 0em;
  text-transform: uppercase;
  letter-spacing: 0.3em;
  color: $gray-180;
  font-weight: 700;
  font-size: 1em;
}
