.form-label{
    display: inline-block;
    padding-bottom: .3em;
    letter-spacing: -.05em;
    color: rgb(180, 180, 180);
    font-weight: 900;
    text-transform: capitalize;
    font-size: .9em;
}