@import "../../../constants/styles/globals";

.PriceContainer {
  font-weight: 500;
  font-size: 1.75em;
  color: $gray-80;
  transition: opacity $transition;
  display: flex;
}

.Cents {
  // font-size with respect to parent: PriceContainer
  font-size: 0.6em;
  // Simulate border with box shadow
  box-shadow: $gray-80 0em (-$width-border-xsmall) 0em 0em inset;
  height: 0.95em;
  padding-block-start: 0.15em;
  padding-block-end: 0.15em;
  margin-left: 0.2em;
}
