@import "../../constants/styles/globals";


$shopping-cart-width: 42em;
$toggle-cart-button-width: 2.5em;

$this-border-small-width: 0.08em;

.shoppingCartContainer{
    width: $shopping-cart-width;
    height: 100%;
    position: absolute;
    right: -$shopping-cart-width;
    top: 0em;
    background-color: $gray-50;
    box-shadow: rgb(0 0 0 / 50%) 0px 2px 15px 0px;

    // Simulate border with box shadow to eliminate lots of issues with width calculations
    box-shadow: $gray-80 $border-small-width 0em 0em 0em inset;

    // Transition for opening and closing the cart
    transition: right 0.5s cubic-bezier(0.22, 0.61, 0.36, 1) 0s;
}

// TODO make this H1
.cartTitle{
    position: absolute;
    color: $gray-215;
    top: .75em;
    left: .75em;
    font-size: 1.75em;
    font-weight: 600;

}

.toggleCartButton{
    width: $toggle-cart-button-width;
    height: $toggle-cart-button-width;
    left: -$toggle-cart-button-width ;
    position: absolute;
    top: $toggle-cart-button-width;
    display: flex;
    justify-content: center;
    align-content: center;
    background-color: $gray-80;
    color: white;

    // Simulate shadow from shoppingCartContainer on this element
    box-shadow: rgb(0 0 0 / 50%) -10px 0px 8px -8px inset;

    cursor: pointer;
}

.toggleCartButton:hover{
    background-color: $gray-70;
}

.toggleCartButton span{
    font-size: $toggle-cart-button-width;
    // A needed 'hack' to vertically center the text
    line-height: 85%;
}

.cartTable{
    width: 100%;
    font-weight: 600;
    // so that the cart 'border' is not overlapped by this element
    margin-left: $border-small-width;
}

.cartTable thead{
    background-color: $gray-80;
    font-weight: 800;
    box-shadow: $blue 0em (-$border-medium-width) 0em 0em inset;
    padding-bottom: 2em;
}

.cartTable th, td {
    padding: 1em;
    color: $gray-180;
}

.cartTable th {
    padding-bottom: 1.25em;
}

.cartTable tr:nth-child(even){
    background-color: $gray-60;
}

.cartTable td{
    text-align: center;
}

.cartHeader{
    height: 5em;
    width: 100%;
    background-color: $gray-80;
}

.cartRemove{
    height: 100%;
    width: 100%;
    cursor: pointer;
}

.cartFooter{
    height: 5em;
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    // so that the cart 'border' is not overlapped by this element
    left: $border-small-width;

    bottom: 0em;
    background-color: $gray-80;
    
    box-shadow: $blue 0em ($border-medium-width) 0em 0em inset;
}

.cartTotal{
    font-weight: 800;
    color: $gray-180;
    margin-right: 2em;
}
