// common colours
$gray-215: rgb(215, 215, 215);
$gray-180: rgb(180,180,180);
$gray-150: rgb(150,150,150);
$gray-100: rgb(100,100,100);
$gray-80: rgb(80, 80, 80);
$gray-70: rgb(70, 70, 70);
$gray-60: rgb(60,60,60);
$gray-50: rgb(50,50,50);
$blue: rgb(0,140,170);

// Not great to use borders with em units. This will be used carefully
$border-small-width: 0.15em;
$border-medium-width: 0.3em;

// common shadow
$shadow: rgb(0 0 0 / 50%) 0px 2px 15px 0px;

// common transition
$transition: 0.5s cubic-bezier(0.22, 0.61, 0.36, 1) 0s