@import "../../../constants/styles/globals";

.center-container {
  width: 100%;
  background-color: $gray-50;
  box-shadow: $shadow inset;
  display: flex;
  flex-wrap: wrap;
  overflow: auto;
  padding: 3em 4em 3em 4em;
  gap: 4em;
  flex-flow: row wrap;
  align-items: flex-start;
  justify-content: center;
  align-content: flex-start;
}
