@import "../../constants/styles/globals";

.LeftContainer {
  width: 20em;
  height: 100%;
  background-color: $gray-85;
  flex-shrink: 0;
  /* column oriented flex for left container to scroll the filters when the screen is small */
  display: flex;
  flex-direction: column;

  hr {
    border: 0em;
    /* 0.15em so that when scaling base font size this border scales relatively quickly */
    border-top: solid $width-border-small $gray-75;
    margin: 0em;
  }
}

// TODO make this into a component that fills width + height and centers content
.LogoWrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.FormContainer {
  padding: 1.5em;
  /* this container will shrink due to it's parent (.left-container) flex. Scroll when it shrinks */
  overflow-y: auto;
  height: 100%;
}

.FormWrapper {
  margin-bottom: 1.75em;
}
