@import './constants/styles/reset.css';
@import './constants/styles/globals';

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 12px;
}

h4 {
  color: $gray-180;
  font-weight: 900;
  text-transform: capitalize;
  font-size: .9em;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html,body,#root{
  height: 100%;
}

button{
  all: unset;
}