.center-container {
    width: 100%;
    background-color: rgb(46,46,46);
    box-shadow: rgb(0 0 0 / 50%) 0px 2px 15px 0px inset;
    display: flex;
    flex-wrap: wrap;
    overflow: auto;
    padding: 3em 4em 3em 4em;
    gap: 4em;
    flex-flow: row wrap;
    align-items: flex-start;
    justify-content: center;
    align-content: flex-start;
}