@import "../../../../constants/styles/globals";

.formCategory {
  padding: 0.75em;
  margin-bottom: 0.25em;
  position: relative;
  left: -0.75em;
  border-radius: 0.3em;
  display: inline-block;
  width: 100%;
}

.formCategoryDeselected {
  font-weight: 500;
  background-color: none;
  color: $gray-180;
}

.formCategoryDeselected:hover {
  background-color: $gray-100;
}

.formCategorySelected {
  font-weight: 700;
  background-color: rgb(1, 137, 168);
  color: rgb(121, 227, 253);
}
